 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 $text-black:#141010;
 $white:#ffffff;
 $text-gray: #a7a2a2;
 $gray:#C5C5C5;
 $input-border:#C1C5CC;
 $border:#E9E9E9;
 $icon:#C4C4C4;
 $primary: #5D9DD9;
 $secondary:#FFD15C;
 $primary-hover:#6181d3;
 $success-backgrund:#e0eee4;
 $color-success: #21a67a;
 $color-error:#f23648;
 $error-backgrund:#fddfe2;
 $family: 'Jost',
 sans-serif;
 // $family-h2:'DM Serif Text',
 // serif;