@import "variables";
@supports (-webkit-overflow-scrolling: touch) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}

.primary {
    color: $primary;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.input-border {
    color: $input-border;
}

.error-color {
    color: $color-error;
}

body {
    font-family: $family;
}

h2 {
    font-family: $family;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
}

h3 {
    font-family: $family;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.75px;
}

h5 {
    font-family: $family;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px;
}

p {
    letter-spacing: 0.32px;
    font-family: $family;
    /* line-height: 30px; */
}

.des {
    font-family: $family;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
}

.gray {
    color: $gray;
}

input:focus {
    outline: 0;
}

.button-primary-disabled {
    letter-spacing: 0.42px;
    padding: 10px 26px;
    border-radius: 10px;
    background: lighten($primary, 15%) !important;
    color: white;
    font-size: 15px;
    font-family: $family;
    position: relative;
    overflow: hidden;
    // transition: background 0.3s ease-in, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button-primary,
.button-primary:hover {
    letter-spacing: 0.42px;
    padding: 10px 26px;
    border-radius: 10px;
    background: $primary;
    color: white;
    font-size: 15px;
    font-family: $family;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button-primary:hover {
    background: darken($primary, 10%);
}

.button-ghost,
.button-ghost:hover {
    letter-spacing: 0.42px;
    padding: 10px 26px;
    border-radius: 10px;
    background: lighten($primary, 26%);
    color: $primary;
    font-size: 15px;
    font-family: $family;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button-ghost:hover {
    background: lighten($primary, 22%);
}

@media screen and (max-width: 640px) {
    .button-category,
    .button-category:hover {
        padding: 4px 11px;
        border-radius: 999px;
        color: #8d8d8d;
        letter-spacing: 0.32px;
        font-size: 11px;
        background: #F0F0F0;
        font-weight: 400;
        font-family: $family;
        overflow: hidden;
        transition: background 0.3s ease-in, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    h1 {
        font-family: $family;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
    }
}

@media screen and (min-width: 640px) {
    .button-category,
    .button-category:hover {
        padding: 6px 17px;
        border-radius: 999px;
        color: #8d8d8d;
        letter-spacing: 0.32px;
        font-size: 14px;
        background: #F0F0F0;
        font-weight: 400;
        font-family: $family;
        overflow: hidden;
        transition: background 0.3s ease-in, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    h1 {
        font-family: $family;
        font-size: 52px;
        font-style: normal;
        font-weight: 500;
        line-height: 68px;
    }
}

.button-category:hover {
    background: darken(#F0F0F0, 6%);
    color: #747474;
}

.blur-background {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 60;
    width: 100%;
    height: 100%;
}

.modal {
    background-color: rgb(255, 255, 255);
    border-radius: 12px !important;
    padding: 52px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 73%;
}

.scrollbar-track {
    margin: 0px 6px 13px 0px;
    scrollbar-color: #445157 #e0e0e0;
}

.scrollbar-track::-webkit-scrollbar {
    width: 5px;
    border-radius: 99px;
}

.scrollbar-track::-webkit-scrollbar-thumb {
    background-color: #7798a8;
    border-radius: 99px;
}

.scrollbar-track::-webkit-scrollbar-track {
    background-color: #445157;
    border-radius: 99px;
}